{% extends 'base.html' %}
{% block content %}
<style>
  form, form * {
    color: black;
  }
</style>

<center> <h2>MY PLANTS</h2> </center>
<hr>
{% for plant in plants %}
  <div class="card">
    <a href="/plants/{{ plant.id }}">
      <div class="card-content">
        <h6> <span class="card-title, green-text"><strong>{{ plant.name }}</strong></span> </h6>
        <p class="black-text"> {{ plant.botanical_name }} </p>
      </div>
    </a>
  </div>
  {% endfor %}
  
  <center> <a href="{% url 'create' %}" class="btn">ADD A PLANT</a> </center>

{% endblock %}