{% extends 'base.html' %}

{% block content %}

    <center> <h2>WELCOME TO PLANT-LIFE</h2> </center>
    <center> <p>WHERE NATURE MEETS TECHNOLOGY</p> </center>
    <hr>
    <h4>ABOUT US</h4>
    <p>Our platform is dedicated to helping plant enthusiasts, gardeners, nature lovers, and even beginners discover the perfect foliage for their environment. Whether you're looking to create a vibrant garden, green up your indoor space, or simply learn more about the plants around you and their benefits, Plant-Life is here to guide you.</p>

    <p>Plant-Life utilizes cutting-edge technology to provide personalized plant recommendations based on your location, climate, and specific goals. By considering factors such as geography, temperature zones, and local climate conditions, we aim to empower users to make informed decisions about their plant choices without all the overwhelming guesswork.</p>

    <p>Join the Plant-Life community to embark on a journey to explore the wonderful world of plants, and let's grow together!</p>

    <h4>THE CREATORS</h4>
    <p>Founded by a team of beginners, we wanted to make the process of selecting and caring for plants more accessible and enjoyable for everyone. Our team is dedicated to providing a seamless and user-friendly experience for all users, regardless of their level of expertise.</p>
    <li>Hetal Ajmeri - UX/UI Designer</li>
    <li>Krystalin Castillo - Software Engineer</li>
    <li>Kim Ellison - UX/UI Designer</li>
    <li>Vijay Ravuri - Data Scientist</li>
    <br>
    <br>
    <center> <h5>HAPPY PLANTING!</h5> </center>

{% endblock %}