{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant-Life</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Plant-Life</a></li>
                </ul>
                <ul class="right">
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/quiz">TAKE THE QUIZ!</a></li>
                    <li><a href="/plants">MY PLANTS</a></li>
                    <li><a href="/care">CARE TIPS</a></li>
                    </ul>
            </div>
        </nav>
    </header>
   <center> 
        <div class="title-box">
            <center> <h1>Plant-Life</h1> </center>
        </div> 
    </center>
    <footer class="page-footer">
        <div class="center">All Rights Reserved &copy; 2024 Plant-Life &nbsp;</div>
    </footer>
</body>
</html>