body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
    background-image: url("{% static 'images/iStock-1160795148.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

nav {
    background-color: rgba(10, 9, 9, 0.459);
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 2;
  text-align: center;
}