{% extends 'base.html' %}
{% block content %}
<style>
  form, form * {
    color: black;
  }
</style>

<center> <h2>WHICH PLANTS ARE BEST?</h2> </center>
<center> <p>TAKE THE QUIZ!</p> </center>
<hr>
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ quiz }}</span>
        <form action="/submit_quiz/" method="post">
            {% csrf_token %}
            <p>
                <label for="question1">1: What is your Hardiness Zone?
                    <a href="https://planthardiness.ars.usda.gov" target="_blank">(Check here)</a>
                </label>
                <input type="text" id="question1" name="question1">
                <br>
                <br>
                <label for="question2">2: How much sun does your gardening space have?
                    <br>
                    Full Sun: 6-8 hours per day, occurs mostly between 10 a.m. and 4 p.m. on most days.
                    <br>
                    Partial Sun: 4-6 hours per day, not continuous: morning sun, followed by shade midday, and then more sun in the afternoon.
                    <br>
                    Partial Shade: 2-4 hours per day, typically in the morning only.
                    <br>
                    Full Shade: Less than 2 hours per day, typically in the morning only.
                </label>
                <input type="text" id="question2" name="question2">
                <br>
                <br>
                <label for="question3">3: How often are you able to water your plant(s)?
                    <br>
                    Frequent: Daily
                    <br>
                    Average: Once every few days
                    <br>
                    Minimal: Once a week
                </label>
                <input type="text" id="question3" name="question3">
                <br>
                <br>
                <label for="question4">4: What level of plant maintenance are you comfortable caring for?
                    <br>
                    Low: I want a plant that requires minimal care.
                    <br>
                    Moderate: I want a plant that requires some care.
                    <br>
                    High: I want a plant that requires a lot of care.
                </label>
                <input type="text" id="question4" name="question4">
            </p>
            <br>
            <center> <input type="submit" value="Submit"> </center>
        </form>
    </div>
  </div>

{% endblock %}