{% extends 'base.html' %}
{% block content %}

<center> <h1>WHICH PLANTS ARE BEST?</h1> </center>

  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ quiz }}</span>
        <form action="/submit_quiz" method="post">
            {% csrf_token %}
            <center> <h3>TAKE THE QUIZ!</h3> </center>
            <p>
                <label for="question1">1: What is your Hardiness Zone?
                    <a href="https://planthardiness.ars.usda.gov" target="_blank">(Check here)</a>
                </label>
                <select id="question1" name="question1">
                    <option value="">--Please choose an option--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <br>
                <label for="question2">2: How much sun does your gardening space have?
                    <br>
                    Full Sun: 6-8 hours per day, occurs mostly between 10 a.m. and 4 p.m. on most days.
                    <br>
                    Partial Sun: 4-6 hours per day, not continuous: morning sun, followed by shade midday, and then more sun in the afternoon.
                    <br>
                    Partial Shade: 2-4 hours per day, typically in the morning only.
                </label>
                <select id="question2" name="question2">
                    <option value="">--Please choose an option--</option>
                    <option value="full_sun">Full Sun</option>
                    <option value="partial_sun">Partial Sun</option>
                    <option value="partial_shade">Partial Shade</option>
                </select>
                <br>
                <label for="question3">3: How often are you able to water your plant(s)?</label>
                <select id="question3" name="question3">
                    <option value="">--Please choose an option--</option>
                    <option value="daily">Daily</option>
                    <option value="every_2-3_days">Every 2-3 days</option>
                    <option value="weekly">Once a week</option>
                    <option value="not_sure">Not sure yet</option>
                </select>
                <br>
                <label for="question4">4: What level of plant maintenance are you comfortable caring for?</label>
                <select id="question4" name="question4">
                    <option value="">--Please choose an option--</option>
                    <option value="low">Low</option>
                    <option value="moderate">Moderate</option>
                    <option value="high">High</option>
                </select>
            </p>
            <br>
            <center> <input type="submit" value="Submit"> </center>
        </form>
    </div>
  </div>

{% endblock %}